@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-family: 'Inter', sans-serif;

    --cor-titulo: #3A404E;
    --cor-nav: #667085;
    --cor-destaque: #8E2424;
    --branco: #FFFFFF;
    --preto-texto: #101828;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
}

.cabecalho__navegacao {
    display: flex;
    align-items: center;
    padding: 1em 7em;
    margin-bottom: 5em;
}

.cabecalho__navegacao__logo {
    display: flex;
    margin-left: 3em;
    align-items: center;
    margin-right: 5em;
}

.cabelho__navegacao__titulo {
    font-family: var(--font-family);
    color: var(--cor-titulo);
    font-size: 18px;
    font-weight: 500;
    margin: 0 0.5em;
}


.cabecalho__navegacao__link {
    font-family: var(--font-family);
    color: var(--cor-nav);
    font-size: 16px;
    font-weight: 500;
    margin: 0 1em;
    text-decoration: none;
}

.cabecalho__navegacao__botoes {
    margin-left: auto;
    margin-right: 3em;
}

.cabecalho__navegacao__login {
    font-family: var(--font-family);
    color: var(--cor-nav);
    font-size: 16px;
    font-weight: 500;
    margin-right: 2em;
    text-decoration: none;
}

.cabecalho__navegacao__cadastrar {
    font-family: var(--font-family);
    color: var(--branco);
    background-color: var(--cor-destaque);
    font-size: 16px;
    font-weight: 500;
    padding: 0.8em 1.2em;
    border: none;
    border-radius: 6px;
    text-decoration: none;
}

.sobre__nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 6em 2em;
}

.sobre__nos__titulo {
    font-family: var(--font-family);
    color: var(--cor-destaque);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2em;
}

.sobre__nos__destaque {
    font-family: var(--font-family);
    color: var(--preto-texto);
    font-size: 48px;
    font-weight: 600;
    padding: 0 32px;
    gap: 12px;
    margin-bottom: 1em;    
}

.sobre__nos__texto {
    font-family: var(--font-family);
    color: var(--cor-nav);
    font-size: 20px;
    font-weight: 400;
    width: 50vw;
}

.stats {
    display: flex;
    justify-content: space-around;
    font-family: var(--font-family);
    margin: 6em auto;
    width: 80vw;
}

.stats__item {
    padding: 0 0.2em 0 3em;
}

.stats__number {
    font-weight: 600;
    font-size: 60px;
    color: var(--cor-destaque);
    margin: 0 1em 0.2em 0;
}

.stats__title {
    font-size: 18px;
    font-weight: 500;
    color: var(--preto-texto);
    margin: 0 1em 0.5em 0;
}

.stats_descricao {
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-nav);
}